<ion-header>
  <ion-toolbar color="tertiary">
    <ion-title>
      Pacientes
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let s of sessoes" [routerLink]="['/tabs/sessoes-passada']">
    <ion-row class="margemDeBaixo">
      <ion-col size="12" class="paciente flex-left">
        {{ s.nomePaciente }}
      </ion-col>
      <ion-col size="4" class="dataSessao flex-left">
        <span class="convenio" *ngIf="s.numeroGuia != ''">Convênio</span>
        <span class="particular" *ngIf="s.numeroGuia == ''">Particular</span>
      </ion-col>
    </ion-row>
  </ion-card>
</ion-content>
