<ion-content>
  <ion-row>
    <ion-col size="2">
      <ion-icon [routerLink]="['/tabs/tab1']" routerDirection="back" style="margin-top: 10px; margin-left: 10px; font-size: 30px;" name="arrow-back"></ion-icon>
    </ion-col>
    <ion-col style="font-size: 17px; margin-top: 10px;" class="flex-left" size="10">
      Sessões realizadas no período
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col class="flex-right" size="3">
      Início
    </ion-col>
    <ion-col class="flex-flex" size="8">      
      <ion-input [(ngModel)]="dtInicio" type="date" class="dataFiltro"></ion-input>
    </ion-col>
    <ion-col size="1">
    </ion-col>
  </ion-row> 

  <ion-row>
    <ion-col class="flex-right" size="3">
      Fim
    </ion-col>
    <ion-col class="flex-flex" size="8">      
      <ion-input [(ngModel)]="dtFim" type="date" class="dataFiltro"></ion-input>
    </ion-col>
    <ion-col size="1">
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col class="flex-right" size="1">
    </ion-col>
    <ion-col class="flex-right" size="3">
      Convênio
    </ion-col>
    <ion-col size="8">
      <select 
        [(ngModel)]="filConvenio" 
        class="campo selecionar" 
      >
        <option value="Todos" selected>Todos</option>
        <option *ngFor="let c of convenios" [value]="c.convenio">{{ c.convenio }}</option>
      </select>
    </ion-col>
  </ion-row>
  
  <ion-button style="margin: 10px 55px;" (click)="filtrarPorData(true)" expand="block" color="success">
    Filtrar
  </ion-button>

  <div 
    [ngStyle]="{'height': conv.falta || conv.faltaJ || conv.faltaT || conv.faltaF ? '250px' : '183px' }" class="box"
  >
    <span class="titulo">Convênio</span>
    <ion-row>
      <ion-col class="sessoes" size="5">
        Quantidade: <span class="valor">{{ conv.sessoes }}</span>
      </ion-col>
      <ion-col class="sessoes" size="7">
        Valor: <span class="valor">{{ conv.valor | currency:'BRL' }}</span>
      </ion-col>
    </ion-row>

    <ion-row style="font-size: 14px;">
      <ion-col class="corC" size="12">
        Presença: <strong>{{ conv.presenca }}</strong><br>
        Falta Paciente: <strong>{{ conv.faltaPaciente }}</strong><br>
        Falta Justificada Paciente: <strong>{{ conv.faltaJustificadaPaciente }}</strong><br> 
        <span [ngStyle]="{'color' : conv.faltaTerapeuta ? 'red' : 'gray' }">
          Falta Terapeuta: <strong>{{ conv.faltaTerapeuta }}</strong>
        </span><br> 
        Falta Justificada Terapeuta: <strong>{{ conv.faltaJustificadaTerapeuta }}</strong><br>
        Recessos e Feriados: <strong>{{ conv.recessosFeriados }}</strong><br>
        Manutenção Predial: <strong>{{ conv.manutencaoPredial }}</strong><br>
        Reposição: <strong>{{ conv.reposicao }}</strong>
        <hr>
        <span style="color: chocolate; font-weight: bold; margin-left: -7px;" *ngIf="conv.falta || conv.faltaJ || conv.faltaT || conv.faltaF">
          Tipos antigos de frequência:
        </span><br>
        <span *ngIf="conv.falta">Falta: <strong>{{ conv.falta }}</strong></span>&nbsp;&nbsp;&nbsp; 
        <span *ngIf="conv.faltaJ">Falta Justificada: <strong>{{ conv.faltaJ }}</strong></span><br> 
        <span *ngIf="conv.faltaT">Falta do Terapeuta: <strong>{{ conv.faltaT }}</strong></span>&nbsp;&nbsp;&nbsp; 
        <span *ngIf="conv.faltaF">Feriado: <strong>{{ conv.faltaF }}</strong></span>
      </ion-col>
    </ion-row>

  </div>

  <div 
    [ngStyle]="{'height': part.falta || part.faltaJ || part.faltaT || part.faltaF ? '257px' : '187px' }"        class="box"
  >
    <span class="titulo">Particular</span>
    <ion-row style="margin-top: 10px; margin-left: 10px;">
      <ion-col class="sessoesPart flex-left" size="3">
        Qtde: &nbsp;<span class="valor">{{ part.sessoes }}</span>
      </ion-col>
      <ion-col class="sessoesPart flex-left" size="5">
        Valor: &nbsp;<span class="valor">{{ part.valor | currency:'BRL' }}</span>
      </ion-col>
      <ion-col style="font-size: 12px;" class="valorSub flex-center" size="4">
        Subloc.: &nbsp;{{ part.subLocacao | currency:'BRL' }} 
      </ion-col>
    </ion-row>

    <ion-row style="font-size: 14px;">
      <ion-col class="corC" size="12">
        Presença: <strong>{{ part.presenca }}</strong><br>
        Falta Paciente: <strong>{{ part.faltaPaciente }}</strong><br>
        Falta Justificada Paciente: <strong>{{ part.faltaJustificadaPaciente }}</strong><br> 
        <span [ngStyle]="{'color' : part.faltaTerapeuta ? 'red' : 'gray' }">
          Falta Terapeuta: <strong>{{ part.faltaTerapeuta }}</strong>
        </span><br> 
        Falta Justificada Terapeuta: <strong>{{ part.faltaJustificadaTerapeuta }}</strong><br>
        Recessos e Feriados: <strong>{{ part.recessosFeriados }}</strong><br>
        Manutenção Predial: <strong>{{ part.manutencaoPredial }}</strong><br>
        Reposição: <strong>{{ part.reposicao }}</strong>
        <hr>
        <span style="color: chocolate; font-weight: bold; margin-left: -7px;" *ngIf="part.falta || part.faltaJ || part.faltaT || part.faltaF">
          Tipos antigos de frequência:
        </span><br>
        <span *ngIf="part.falta">Falta: <strong>{{ part.falta }}</strong></span>&nbsp;&nbsp;&nbsp; 
        <span *ngIf="part.faltaJ">Falta Justificada: <strong>{{ part.faltaJ }}</strong></span><br> 
        <span *ngIf="part.faltaT">Falta do Terapeuta: <strong>{{ part.faltaT }}</strong></span>&nbsp;&nbsp;&nbsp; 
        <span *ngIf="part.faltaF">Feriado: <strong>{{ part.faltaF }}</strong></span>
      </ion-col>
    </ion-row>
  </div>

  <div style="height: 45px;" class="box">
    <span class="titulo">Particular + Convênio</span>
    <ion-row>
      <ion-col class="sessoes flex-left" size="4">
        Qtde: &nbsp;<span class="valor">{{ qtdeSessoes }}</span>
      </ion-col>
      <ion-col class="sessoes flex-left" size="8">
        Valor: &nbsp;<span class="valor flex-center">{{ total | currency:'BRL' }}</span>
      </ion-col>
    </ion-row>
  </div>

</ion-content>
