<ion-content>
  <ion-row>
    <ion-col size="2">
      <ion-icon [routerLink]="['/tabs/tab1']" routerDirection="back" style="margin-top: 10px; margin-left: 10px; font-size: 30px;" name="arrow-back"></ion-icon>
    </ion-col>
    <ion-col style="font-size: 17px; margin-top: 10px;" class="flex-left" size="10">
      Sessões realizadas no período
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col class="flex-right" size="3">
      Início
    </ion-col>
    <ion-col class="flex-flex" size="8">      
      <ion-input [(ngModel)]="dtInicio" type="date" class="dataFiltro"></ion-input>
    </ion-col>
    <ion-col size="1">
    </ion-col>
  </ion-row> 

  <ion-row>
    <ion-col class="flex-right" size="3">
      Fim
    </ion-col>
    <ion-col class="flex-flex" size="8">      
      <ion-input [(ngModel)]="dtFim" type="date" class="dataFiltro"></ion-input>
    </ion-col>
    <ion-col size="1">
    </ion-col>
  </ion-row>
  
  <ion-button style="margin: 10px 55px;" (click)="filtrarPorData(true)" expand="block" color="success">
    Filtrar
  </ion-button>

  <div class="box">
    <span class="titulo">Convênio</span>
    <ion-row>
      <ion-col class="sessoes" size="6">
        Quantidade
      </ion-col>
      <ion-col class="sessoes flex-center" size="6">
        Valor
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="valor flex-center" size="6">
        {{convenio.sessoes}}
      </ion-col>
      <ion-col class="valor flex-center" size="6">
        {{ convenio.valor | currency:'BRL' }}
      </ion-col>
    </ion-row>

  </div>

  <div style="height: 110px;" class="box">
    <span class="titulo">Particular</span>
    <ion-row>
      <ion-col class="sessoes" size="6">
        Quantidade
      </ion-col>
      <ion-col class="sessoes flex-center" size="6">
        Valor
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="valor flex-center" size="6">
        {{particular.sessoes}}
      </ion-col>
      <ion-col class="valor flex-center" size="6">
        {{ particular.valor | currency:'BRL' }}
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="flex-center" size="12">
        <span style="margin-top: -8px; color: #696868; font-size: 15px; font-weight: 600;" class="sessoes">Sublocação:</span><span class="valorSub">{{ particular.subLocacao | currency:'BRL' }}</span> 
      </ion-col>
    </ion-row>
  </div>

  <div class="box">
    <span class="titulo">Particular + Convênio</span>
    <ion-row>
      <ion-col class="sessoes" size="6">
        Quantidade
      </ion-col>
      <ion-col class="sessoes flex-center" size="6">
        Valor
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="valor flex-center" size="6">
        {{ qtdeSessoes }}
      </ion-col>
      <ion-col class="valor flex-center" size="6">
        {{ total | currency:'BRL' }}
      </ion-col>
    </ion-row>
  </div>

</ion-content>
