<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="end">
      <ion-text style="color: #ffffff78; font-size: 15px;">
        0.1.25
      </ion-text>
      <ion-button (click)="sair()">
        Sair
      </ion-button>
    </ion-buttons>
    <ion-title>
      Sessões
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <!-- <ion-fab vertical="bottom" horizontal="end" slot="fixed" [routerLink]="['/add-sessao']" routerLinkActive="router-link-active" >
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab> -->

  <ion-row class="resumo"[routerLink]="['/resumo']" >
    <ion-col size="10">
      Sessões em {{ mes }} <br> 
      <span>Realizadas: <strong>{{ qtdeRealizadas }}</strong></span>&nbsp;&nbsp;<span>Agendadas: <strong>{{ qtdeAgendadas }}</strong></span>
    </ion-col>
    <ion-col class="flex-center ion-no-padding">
      <ion-icon style="font-size: 25px; color: var(--ion-color-primary-shade);" name="arrow-forward"></ion-icon>
    </ion-col>
  </ion-row>

  <div>

  </div>

  <ion-card *ngFor="let g of agrupadoData">
    <ion-item-group>
      <ion-item-divider>
        <ion-label class="dataSemana">{{ g[1][0].diaSemana }}, <strong>{{ g[0] }}</strong> </ion-label>
      </ion-item-divider>

      <!-- <ion-item-sliding *ngFor="let s of g[1]"> -->
        <!-- [routerLink]="['/tabs/atendimento',s.id]" -->
        <ion-item *ngFor="let s of g[1]">
          <ion-row>
            <ion-col size="12" class="paciente flex-left">
              <strong>{{ s.horaSessao }}</strong>&nbsp;- {{ s.nomePaciente }}
            </ion-col>
          </ion-row>
          <!-- <ion-icon slot="end" name="arrow-forward"></ion-icon> -->
        </ion-item>

        <!-- <ion-item-options side="start">
          <ion-item-option color="primary" [routerLink]="['/add-sessao',s.id]">
            <ion-icon slot="icon-only" name="create-outline"></ion-icon>
          </ion-item-option>
          <ion-item-option color="danger" (click)="excluir(s.id)">
            <ion-icon slot="icon-only" name="trash"></ion-icon>
          </ion-item-option>
        </ion-item-options>
      </ion-item-sliding> -->
    </ion-item-group>
  </ion-card>


  <!-- <ion-card *ngFor="let s of sessoes" [routerLink]="['/tabs/atendimento',s.id]">
    <ion-row class="margemDeCima">
      <ion-col size="8" class="horario flex-left">
        {{ s.diaSemana }}, {{ s.horaSessao }}
      </ion-col>
      <ion-col size="4" class="dataSessao flex-right">
        {{ s.dataSessao }}
      </ion-col>
    </ion-row>
    <ion-row class="margemDeBaixo">
      <ion-col size="12" class="paciente flex-left">
        {{ s.nomePaciente }}
      </ion-col> -->
      <!-- <ion-col size="4" class="dataSessao flex-left">
        <span class="convenio" *ngIf="s.numeroGuia != ''">Convênio</span>
        <span class="particular" *ngIf="s.numeroGuia == ''">Particular</span>
      </ion-col> -->
    <!-- </ion-row>
  </ion-card> -->
<!-- 
  <ion-list>
    <ion-item *ngFor="let s of sessoes">
      <ion-label>
        <div><span class="horario">{{ s.diaSemana }}, {{ s.horaSessao }}</span> - <span class="dataSessao">{{ s.dataSessao }}</span></div>
        <h2 class="paciente">
          {{ s.nomePaciente }} - <span class="convenio" *ngIf="s.numeroGuia != ''">Convênio</span><span class="particular" *ngIf="s.numeroGuia == ''">Particular</span>
        </h2>
      </ion-label>
    </ion-item>
  </ion-list> -->

</ion-content>
