.nome {
    margin-left: 10px;
    margin-top: 5px;
    font-size: 14px;
    margin-bottom: -8px;
}

.colorTipoConvenio {
    color: var(--ion-color-tertiary);
    font-size: 15px;
  }
  
  .colorTipoParticular {
    color: var(--ion-color-success);
    font-size: 15px;
  }